<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction Results</title>

    <%- include("./common/plugins.ejs") %>
    
    <link rel="stylesheet" href="style/auctionResults.css">
    <script src="script/auction-search.js"></script>
</head>
<body>
    <%- include("./common/header.ejs") %>

    <div class="body-content">
        <div class="search-container">
            <div class="search-form-container mt-3">
                <form method="GET" style="width: 100%;">
                    <div class="form-row">
                        <div class="col-sm-9 col-lg-9 col-xl-10 mt-3">
                            <input type="text" name="item" class="form-control" placeholder="Search for anything" value="<%= searchQuery %>" id="search-input" onkeydown="enterKeySearch()">
                        </div>

                        <div class="col-sm-3 col-lg-3 col-xl-2 mt-3">
                            <button class="btn btn-primary form-control" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="results-container">
                <div class="filter-row row">
                    <div class="results-number col-sm-12 col-lg-6 mt-3">
                        <% if(searchQuery != ""){ %>
                            <%= searchData.length %> result(s) for <strong><%= searchQuery %></strong>...
                        <% }else{ %>
                            Total of <strong><%= searchData.length %> items</strong> here...
                        <% } %>
                    </div>

                    <div class="col-sm-12 col-lg-6 mt-3">
                        <div class="filter-select-container">
                            <span id="filter-text">Filters:</span>
                            <select class="form-control" id="filter-select">
                                <option value="Best Match">Best Match</option>
                                <option value="Best Match">Time: Ending Soon</option>
                                <option value="Best Match">Time: Newly Listed</option>
                                <option value="Best Match">Price: Lowest First</option>
                                <option value="Best Match">Price: Highest First</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="result-display-list row results-row mt-3">

                <% if (searchData.length > 0) { %>
                    <% searchData.forEach(item => { %>
                        <div class="display-list col-sm-12 mt-3">
                            <a href="product-info?item=<%= item.itemID %>" class="product-link">
                                <div class="row">
                                    <div class="col-sm-4 result-img-col">
                                        <div class="result-image-container text-center">
                                            <img src="upload/<%= item.itemImage %>" alt="" class="result-image">
                                        </div>
                                    </div>
            
                                    <div class="col-sm-8 mt-2">
                                        <div class="product-name">
                                            <%= item.itemName %>
                                        </div>
        
                                        <div class="product-price text-info mt-3">
                                            Starting Price: <span class="text-success">$ <%= item.itemStartingPrice %></span>
                                        </div>
        
                                        <div class="product-details text-secondary">
                                            Start Date: <%= item.startingDate %><br>
                                            End Date: <%= item.endDate %> <br>
                                            Time left: 
                                            <script>
                                                var time_left = auctionTimeLeft('<%= item.endDate %>');
                                                document.write(time_left);
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <div class="mt-3 mb-3 text-danger font-weight-bold">
                        We could not find anything for "<%= searchQuery %>".
                    </div>
                <% } %>
                
            </div>

        </div>
    </div>

    <%- include("./common/footer.ejs") %>
</body>
</html>

<script>
    //Check Sign In
    checkSignIn();
</script>