<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Info</title>

    <%- include("./common/plugins.ejs") %>

    <script src="script/bidding.js"></script>

    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Data tablets -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" href="style/product-info.css">

</head>
<body>
    <%- include("./common/header.ejs") %>

    <div class="body-content">
        <div class="product-info-container">
            <div class="row">
                <div class="product-img col-sm-4">
                    <div class="product-img-container">
                        <img src="upload/<%= itemRecord.itemImage %>" alt="">
                    </div>
                </div>

                <div class="product-info col-sm-8 mt-3">
                    <div class="product-name">
                        <%= itemRecord.itemName %>
                    </div>

                    <div class="product-condition mt-3">
                        <span>Starting Price: <strong>$ <%= itemRecord.startingPrice %></strong></span><br>
                        <span>Condition: <strong><%= itemRecord.condition %></strong> </span><br>
                        <span>Start Date: <strong><%= itemRecord.startDate %></strong></span><br>
                        <span>End Date: <strong><%= itemRecord.endDate %></strong></span><br>
                        <span>Time Left: 
                            <strong id="count-down-display">
                                <div class="coutdown-row mt-3">
                                    <div class="coutdown-col">
                                        <div class="text-center">
                                            <div class="count-down-time">-</div>
                                            <div>Days</div>
                                        </div>
                                    </div>
                                    <div class="coutdown-col">
                                        <div class="text-center">
                                            <div class="count-down-time">-</div>
                                            <div>Hours</div>
                                        </div>
                                    </div>
                                    
                                    <div class="coutdown-col">
                                        <div class="text-center">
                                            <div class="count-down-time">-</div>
                                            <div>Minutes</div>
                                        </div>
                                    </div>
                                    
                                    <div class="coutdown-col">
                                        <div class="text-center">
                                            <div class="count-down-time">-</div>
                                            <div>Seconds</div>
                                        </div>
                                    </div>
                                </div>
                            </strong>
                        </span>
                    </div>

                    <div class="place-bid mt-3">
                        <div class="row">
                            <div class="col mb-3">
                                <div class="current-bid">
                                    <span>Current Bid:  
                                        <strong id="current-bid-amount">$ 
                                            <%if (biddingList.length > 0){ %>
                                                <%= biddingList[0].BidPrice %>
                                            <%}else{ %>
                                                <%= itemRecord.startingPrice %>
                                            <%} %>
                                        </strong>
                                    </span> 
                                </div>
            
                                <div class="bid-input-container">
                                    <input type="number" class="form-control" name="bid_price" id="bid-input" placeholder="Bid Amount" min="<%= itemRecord.startingPrice %>" step="1" onkeydown="if(event.key==='.'){event.preventDefault();}"  oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');">

                                    <span class="text-secondary pl-1" id="place-bid-message">
                                        place $
                                        <%if (biddingList.length > 0){ %>
                                            <%= parseInt(biddingList[0].BidPrice) + parseInt(itemRecord.minimumPerBid) %> 
                                        <%}else{ %>
                                            <%= parseInt(itemRecord.startingPrice) + parseInt(itemRecord.minimumPerBid) %> 
                                        <%} %>
                                        or more
                                    </span>
                                    <div class="text-danger ml-1" id="error-prompt"></div>
                                    <br>
                                    <button class="btn btn-primary bid-btn mt-3" id="place-bid-btn" onclick="submitNewBidding('<%= itemRecord.itemID %>', '<%= itemRecord.minimumPerBid %>', '<%= itemRecord.startingPrice %>', '<%= accountType %>')" style="display: none;">Place Bid</button>
                                </div>

                                <script>
                                    //Display countdown timer
                                    countDownTimer('<%= itemRecord.endDate %>', '<%= itemRecord.startDate %>');
                                </script>
                            </div>
                        </div>              
                    </div>
                </div>
            </div>

            <div class="bid-ranking mt-3">
                <div class="bid-ranking-title">
                    <h2>Bid History</h2>
                </div>

                <div id="submit-alert">

                </div>

                <marquee id="outbid-alert" width="100%" direction="left" height="auto" class="text-danger" >
                </marquee>

                <!-- Outbid audio -->
                <audio src="audio/outbid_effect.mp3" id="outbid-audio"></audio>

                <table class="table table-bordered" id="bidding-history-table">
                    <thead>
                      <tr class="bg-light">
                        <th scope="col" style="width: 25%;">Rank</th>
                        <th scope="col" style="width: 25%;">Bidder</th>
                        <th scope="col" style="width: 25%;">Bid Amount</th>
                        <th scope="col" style="width: 25%;">Bid Time</th>
                      </tr>
                    </thead>

                    <tbody id="bidding-list">
                        <% if (biddingList.length > 0) { %>
                            <% var bidding_count = 0; %>
                            <% biddingList.forEach(bidding => { bidding_count++ %>
                                <tr>
                                    <th scope='row'> <%= bidding_count %></th>
                                    <td><%= bidding.BidderName %></td>
                                    <td>$ <%= bidding.BidPrice %></td>
                                    <td><%= bidding.BidTime %></td>
                                </tr>
                            <% }) %>

                            <script>
                                //Display table
                                initializeDataTable();
                            </script>
                        <% } else { %>
                            <tr>
                                <th scope='row' colspan='4'> No bid history now</th>
                                <td style='display:none;'></td>
                                <td style='display:none;'></td>
                                <td style='display:none;'></td>
                            </tr>
                        <% } %>
                    </tbody>
                  </table>
            </div>  

            <div class="product-description">
                <div class="product-description-header mb-3">
                    <h3>Product Description</h3>
                </div>

                <div class="product-description-display">
                    <%= itemRecord.itemDescription %>
                </div>
            </div>


        </div>
    </div>

    <%- include("./common/footer.ejs") %>
</body>
</html>

<script>
    //Check Sign In
    checkSignIn();

    //Display bidding history
    displayBidList('<%= itemRecord.minimumPerBid %>');
</script>