<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Out</title>



    <link rel="stylesheet" href="style/checkout.css">

    <%- include("./common/plugins.ejs") %>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- JavaScript -->
    <script src="script/cart.js"></script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <%- include("./common/header.ejs") %>

    <div class="body-content">
        <div class="checkout-container">
            <div class="row">
                <div class="col-lg-9 checkout-col">

                    <div class="cart-container mt-3">
                        <div class="cart-media">
                            <div class="cart-title mb-3">
                                <h4 class="font-weight-bold">Cart Item(<%= cartItem.length %>)</h4>
                            </div>

                            <% 
                                var item_count = 0; 
                                var subtotal = 0;
                                var shipping = 0;
                            %>

                            <% if (cartItem.length > 0) { %>
    
                                <% cartItem.forEach(item => { %>
    
                                    <%  
                                        item_count++;
                                        subtotal = subtotal + parseFloat(item.soldPrice); 
                                        shipping = shipping + parseFloat(item.shippingFees);
                                    %>
                            <div class="row cart-row mt-3">
                                <div class="col-sm-3 col-lg-6 col-xl-3 cart-col">
                                    <div class="text-center">
                                        <img src="upload/<%= item.itemImage %>" class="cart-img align-self-center" width="100%">
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-6 col-xl-6 cart-col">
                                    <span class="mt-3"><%= item.itemName %></span>
                                    <p>Deal Price: <span class="text-success"><%= item.soldPrice %></span></p>      
                                    <p>Time Left: 
                                        <span class="text-primary" id="item-countdown-display-<%= item_count; %>"></span>

                                        <script>
                                            checkoutTimeLeft('<%= item.endDate %>', 'item-countdown-display-<%= item_count; %>');
                                        </script>
                                    </p>                        
                                </div>

                                <div class="col-sm-3 col-lg-12 col-xl-3 cart-col text-right">
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#cancelModal" onclick="cartProductRemoval('<%= item.cartID %>')"><i class="fas fa-trash"></i></button>
                                </div>
                            </div> 
                            <% }) %>
                            <% } else { %>
                                <div class="mt-3 mb-3 text-danger font-weight-bold">
                                    Your cart is empty now...
                                </div>
                            <% } %>
                        </div>

                    </div>

                    <div class="cart-container mt-3">
                        <div class="cart-title mb-3">
                            <h4 class="font-weight-bold">Delivery Details</h4>
                        </div>

                        <div class="delivery-form-container">
                            <div class="form-group row">
                                <label for="" class="col-sm-2">Delivery Address: </label>
                                <div class="col-sm-10">
                                    <div class="ml-3">
                                        <input class="form-check-input" type="radio" name="exampleRadios" value="old address" checked onclick="newDeliveryAddress(false)">
                                        <label class="form-check-label" for="">
                                            Same as the address provided at my profile
                                        </label>
                                    </div>
                                    
                                    <div class="ml-3">
                                        <input class="form-check-input" type="radio" name="exampleRadios" value="new address" onclick="newDeliveryAddress(true)">
                                        <label class="form-check-label" for="">
                                            New address
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="shipping-address-container" style="display: none;" id="shipping-form">
                                <div class="shipping-address-header mb-3">
                                    <h5>New Shipping Address</h5>
                                </div>

                                <div class="shipping-address-form">

                                    <div class="row mt-1">
                                        <div class="col-sm-6 mt-2">
                                            <label for="">First Name:</label>
                                            <input type="text" class="form-control" placeholder="First Name">
                                        </div>

                                        <div class="col-sm-6 mt-2">
                                            <label for="">Last Name:</label>
                                            <input type="text" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>

                                    <div class="row mt-1">
                                        <div class="col-sm-6 mt-2">
                                            <label for="">Address 1:</label>
                                            <input type="text" class="form-control" placeholder="Address Line 1">
                                        </div>

                                        <div class="col-sm-6 mt-2">
                                            <label for="">Address 2:</label>
                                            <input type="text" class="form-control" placeholder="Address Line 2">
                                        </div>
                                    </div>

                                    <div class="row mt-1">
                                        <div class="col-sm-6 mt-2">
                                            <label for="">Post Code:</label>
                                            <input type="text" class="form-control" placeholder="Post Code">
                                        </div>

                                        <div class="col-sm-6 mt-2">
                                            <label for="">City:</label>
                                            <input type="text" class="form-control" placeholder="City">
                                        </div>
                                    </div>

                                    <div class="row mt-1">
                                        <div class="col-sm-6 mt-2">
                                            <label for="">Country:</label>
                                            <select class="form-control" id="">
                                                <option value="Malaysia">--Select your country--</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-6 mt-2">
                                            <label for="">Phone Number:</label>
                                            <input type="text" class="form-control" placeholder="Phone Number">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-3 checkout-col">
                    <div class="total-container mt-3">

                        <div class="total-display">
                            <h4>Summary</h4>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">Subtotal: </th>
                                        <td class="text-right text-success font-weight-bold">$ <%=subtotal %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Shipping: </th>
                                        <td class="text-right text-success font-weight-bold">$ <%=shipping %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total: </th>
                                        <td class="text-right text-success font-weight-bold">$ <%= subtotal+shipping %></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="mt-3">
                                <form action="/create-checkout-session" method="POST" id="payment-form">
                                    <button class="btn btn-primary"  style="width: 100%;" id="checkout-btn" type="submit">Check Out</button>
                                </form>
        
                                <div class="text-left mt-3">
                                    <span class="font-weight-bold">We Accept</span>

                                    <div class="accept-img-container">
                                        <img src="images/logo-senangpay-visamsfpx@2x.png" alt="" class="we-accept-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>

        </div>
    </div>

    <%- include("./common/footer.ejs") %>
</body>
</html>

<!-- Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Removal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        Too many product cancellations can lead to account suspension, are you sure you want to remove this product from the cart?
    </div>

    <div class="modal-footer">
        <form action="/cart-remove" method="POST">
            <input type="hidden" id="cart-id-input" name="cart_id">
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-primary">Sure</button>
        </form>

    </div>
    </div>
</div>
</div>

<script>
    //Check Sign In
    checkSignIn();
</script>